<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Histogram</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript">
    var sensordata = {{ sensor_data|safe }}
    // convert the data into 2d-array
    var data = []
    for( var i = 0; i < sensordata.data.length; i++){
      var d = sensordata.data[i];
      var t = new Date(d.time)
      var row = [t, d.value]
      data.push(row)
    }
    console.log(sensordata, sensordata.data)


    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

      var dt = new google.visualization.DataTable();
      dt.addColumn('datetime', 'time');
      dt.addColumn('number', 'data');
      dt.addRows(data);

      // Set chart options
      var options = {'title':'Sensor Data',
                     'width':400,
                     'height':300};

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(dt, options);
    }
  </script>

</head>
<body>

  <div id="chart_div"></div>
</body>

</html>