<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Control Panel</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'webcontrols/controlpanel.css' %}" />
  <link rel="stylesheet" type="text/css"
        href="{% static 'bootstrap-3.3.4-dist/css/bootstrap.min.css' %}" />
</head>
<body>
  <div class="controlwidget">control widget</div>
  <div class="displaypanel">display panel
    <div class="graphselectpanel">option panel</div>
  </div>
</body>
</html>